/*fade*/
.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.28s;
  transition: opacity 0.28s; }
.fade-enter,
.fade-leave-active {
  opacity: 0; }
/*fade*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  -webkit-transition: all .5s;
  transition: all .5s; }
.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px); }
.breadcrumb-move {
  -webkit-transition: all .5s;
  transition: all .5s; }
.breadcrumb-leave-active {
  position: absolute; }
.el-upload input[type="file"] {
  display: none !important; }
.el-upload__input {
  display: none; }
.el-dialog {
  -webkit-transform: none;
          transform: none;
  left: 0;
  position: relative;
  margin: 0 auto; }
.upload-container .el-upload {
  width: 100%; }
.upload-container .el-upload .el-upload-dragger {
    width: 100%;
    height: 200px; }
#app .main-container {
  min-height: 100%;
  -webkit-transition: margin-left .28s;
  transition: margin-left .28s;
  margin-left: 180px;
  position: relative; }
#app .sidebar-container {
  -webkit-transition: width 0.28s;
  transition: width 0.28s;
  width: 180px !important;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden; }
#app .sidebar-container .horizontal-collapse-transition {
    -webkit-transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out; }
#app .sidebar-container .scrollbar-wrapper {
    height: calc(100% + 15px); }
#app .sidebar-container .scrollbar-wrapper .el-scrollbar__view {
      height: 100%; }
#app .sidebar-container .is-horizontal {
    display: none; }
#app .sidebar-container a {
    display: inline-block;
    width: 100%;
    overflow: hidden; }
#app .sidebar-container .svg-icon {
    margin-right: 16px; }
#app .sidebar-container .el-menu {
    border: none;
    height: 100%;
    width: 100% !important; }
#app .hideSidebar .sidebar-container {
  width: 36px !important; }
#app .hideSidebar .main-container {
  margin-left: 36px; }
#app .hideSidebar .submenu-title-noDropdown {
  padding-left: 10px !important;
  position: relative; }
#app .hideSidebar .submenu-title-noDropdown .el-tooltip {
    padding: 0 10px !important; }
#app .hideSidebar .el-submenu {
  overflow: hidden; }
#app .hideSidebar .el-submenu > .el-submenu__title {
    padding-left: 10px !important; }
#app .hideSidebar .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
      display: none; }
#app .hideSidebar .el-menu--collapse .el-submenu > .el-submenu__title > span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block; }
#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
#app .sidebar-container .el-submenu .el-menu-item {
  min-width: 180px !important;
  background-color: #1f2d3d !important; }
#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title:hover,
  #app .sidebar-container .el-submenu .el-menu-item:hover {
    background-color: #001528 !important; }
#app .el-menu--collapse .el-menu .el-submenu {
  min-width: 180px !important; }
#app .mobile .main-container {
  margin-left: 0px; }
#app .mobile .sidebar-container {
  -webkit-transition: -webkit-transform .28s;
  transition: -webkit-transform .28s;
  transition: transform .28s;
  transition: transform .28s, -webkit-transform .28s;
  width: 180px !important; }
#app .mobile.hideSidebar .sidebar-container {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: translate3d(-180px, 0, 0);
          transform: translate3d(-180px, 0, 0); }
#app .withoutAnimation .main-container,
#app .withoutAnimation .sidebar-container {
  -webkit-transition: none;
  transition: none; }
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif; }
label {
  font-weight: 700; }
html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
#app {
  height: 100%; }
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none; }
div:focus {
  outline: none; }
a:focus,
a:active {
  outline: none; }
a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }
.app-main {
  min-height: 100%; }
.app-container {
  padding: 20px; }


.app-wrapper[data-v-4781c12d] {
  position: relative;
  height: 100%;
  width: 100%;
}
.app-wrapper[data-v-4781c12d]:after {
    content: "";
    display: table;
    clear: both;
}
.app-wrapper.mobile.openSidebar[data-v-4781c12d] {
    position: fixed;
    top: 0;
}
.drawer-bg[data-v-4781c12d] {
  background: #000;
  opacity: 0.3;
  width: 100%;
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
}


.navbar[data-v-1b90192e] {
  height: 50px;
  line-height: 50px;
  border-radius: 0px !important;
}
.navbar .hamburger-container[data-v-1b90192e] {
    line-height: 58px;
    height: 50px;
    float: left;
    padding: 0 10px;
}
.navbar .screenfull[data-v-1b90192e] {
    position: absolute;
    right: 90px;
    top: 16px;
    color: red;
}
.navbar .avatar-container[data-v-1b90192e] {
    height: 50px;
    display: inline-block;
    position: absolute;
    right: 35px;
}
.navbar .avatar-container .avatar-wrapper[data-v-1b90192e] {
      cursor: pointer;
      margin-top: 5px;
      position: relative;
}
.navbar .avatar-container .avatar-wrapper .user-avatar[data-v-1b90192e] {
        width: 40px;
        height: 40px;
        border-radius: 10px;
}
.navbar .avatar-container .avatar-wrapper .el-icon-caret-bottom[data-v-1b90192e] {
        position: absolute;
        right: -20px;
        top: 25px;
        font-size: 12px;
}


.app-breadcrumb.el-breadcrumb[data-v-3c5daa2e] {
  display: inline-block;
  font-size: 14px;
  line-height: 50px;
  margin-left: 10px;
}
.app-breadcrumb.el-breadcrumb .no-redirect[data-v-3c5daa2e] {
    color: #97a8be;
    cursor: text;
}


.hamburger[data-v-522639f6] {
	display: inline-block;
	cursor: pointer;
	width: 20px;
	height: 20px;
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
	-webkit-transition: .38s;
	transition: .38s;
	-webkit-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}
.hamburger.is-active[data-v-522639f6] {
	-webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
}


.app-main[data-v-5f8c0067] {
  /*50 = navbar  */
  min-height: calc(100vh - 50px);
  position: relative;
  overflow: hidden;
}


.svg-icon[data-v-43e010f7] {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

