.taggd-wrapper {
    overflow: hidden;
    position: relative;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.taggd-wrapper .taggd-item {
    background-color: rgba(219, 50, 92, 0.75);
    cursor: pointer;
    display: block;
    padding: 10px;
    z-index: 1000;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

/*radio*/
.taggd-wrapper input[type=radio].taggd-item {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    min-width: 12px;
    min-height: 12px;
    padding: 0px;
    -webkit-transition: all .15s ease-out;
    transition: all .15s ease-out;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    position: relative;
    vertical-align: -5px;
}

.taggd-wrapper input[type=radio].taggd-item:checked {
    border: 1px solid #0A96FF;
}

.taggd-wrapper input[type=radio].taggd-item:checked::before {
    width: 8px;
    height: 8px;
    position: absolute;
    content: ' ';
    display: inline-block;
    border-radius: 50%;
    background-color: #0A96FF;
    text-align: center;
    left: 50%;
    margin-left: -4px;
    top: 50%;
    margin-top: -4px;
}

.taggd-wrapper input[type=radio].taggd-item:focus {
    outline: none !important;
    outline-offset: 0px !important;
}

.taggd-wrapper input[type=radio].taggd-item:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #0A96FF;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
    border: none;
}

.taggd-wrapper input[type=radio].taggd-item {
    border-radius: 50%;
}

.taggd-wrapper input[type=radio].taggd-item::after {
    border-radius: 50%;
}

@-webkit-keyframes click-wave {
    0% {
        width: 40px;
        height: 40px;
        opacity: 0.35;
        margin-left: -13px;
        margin-top: -13px;
        position: relative;
    }
    100% {
        width: 200px;
        height: 200px;
        margin-left: -93px;
        margin-top: -93px;
        opacity: 0.0;
    }
}

@-moz-keyframes click-wave {
    0% {
        width: 40px;
        height: 40px;
        opacity: 0.35;
        position: relative;
        border-radius: 50%;
        margin-left: -13px;
        margin-top: -13px;
    }
    100% {
        width: 200px;
        height: 200px;
        margin-left: -93px;
        margin-top: -93px;
        opacity: 0.0;
        border-radius: 50%;
    }
}

@-o-keyframes click-wave {
    0% {
        width: 40px;
        height: 40px;
        opacity: 0.35;
        position: relative;
        border-radius: 50%;
        margin-left: -13px;
        margin-top: -13px;
    }
    100% {
        width: 200px;
        height: 200px;
        margin-left: -93px;
        margin-top: -93px;
        opacity: 0.0;
        border-radius: 50%;
    }
}

@keyframes click-wave {
    0% {
        width: 40px;
        height: 40px;
        opacity: 0.35;
        position: relative;
        border-radius: 50%;
        margin-left: -13px;
        margin-top: -13px;
    }
    100% {
        width: 200px;
        height: 200px;
        margin-left: -93px;
        margin-top: -93px;
        opacity: 0.0;
        border-radius: 50%;
    }
}

/*radio end*/

.taggd-wrapper .taggd-item.active,
.taggd-wrapper .taggd-item:hover {
    background-color: rgba(219, 50, 92, 0.75);
}

.taggd-wrapper .taggd-item-hover {
    background-color: rgb(219, 50, 92);
    color: transparent;
    cursor: default;
    display: block;
    font-weight: lighter;
    opacity: 0;
    overflow: hidden;
    padding: 0 10px;
    z-index: 999;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: none;
}

.taggd-wrapper .taggd-item-hover.show {
    color: #fff;
    opacity: 1;
    padding: 10px;
    z-index: 1000;
    display: block;
}

.taggd-wrapper .taggd-item-hover.complete button {
    display: none;
}

.taggd-wrapper .taggd-item-hover.complete .tag-link {
    display: none;
}

.taggd-wrapper .taggd-item-hover.complete {
    background: #66D37E;
}

.taggd-wrapper .taggd-item-hover .tag-link {
    display: block;
    background: #F2A379;
    height: 30px;
    text-indent: 10px;
    margin-left: -10px;
    margin-bottom: -10px;
    width: 109%;
}

.taggd-wrapper .taggd-item-hover input {
    background-color: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.taggd-wrapper .taggd-item-hover a {
    text-decoration: none;
    color: #fff;
}

.taggd-wrapper .taggd-item-hover button {
    background-color: #fff;
    border: 0;
    color: rgb(219, 50, 92);
    font-size: 0.666em;
    height: 1.5em;
    line-height: 1;
    margin: 0 0 0.4em 0.25em;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 1.5em;

    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.taggd-wrapper .taggd-editor {
    position: absolute;
}
